services:
  db:
    image: postgres:16
    container_name: agend_db
    environment:
      POSTGRES_USER: AGEND
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres_db
    ports:
      - "5434:5432"
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db: